# VS and VS Code Builds
/.vs/
/.vscode/
/RaytracerTest/
/x64/
*.sln
*.vcxproj*
/*.dir/
/Debug/
/Release/

## Spir-v and batch files
/assets/shaders/*.spv
/assets/shaders/*.bat

# Imgui
/imgui.ini

# Cmake
cmake_install.cmake
CmakeCache.txt
/CMakeFiles/*
